<div class="container-fluid allRecipes">
  <div class="ingredient-list-container">
  	<div id="ingredient-list-text">Ingredient List:</div>
  	<ul class="ingredient-list">
  		<li class="ingredient" ng-repeat="ing in submittedIngredients">
  			<label>{{ing}}</label>
  		</li>
  	</ul>
  </div>
  <div class="recipe-container">
	  <div class="recipes-text">Recipes</div>
	  	<div class="tile-container">
		  	<a class="recipeTileLink" ng-repeat="recipe in recipes" href="#/recipes/{{recipe.titleSlug}}">
		      <div class="recipeTile">
				<div class="artwork">
					<div class="healthyFlag"></div>
				</div>
				<div class="infoPane">
					<div class="ratings">{{recipe.rating}} stars</div>
					<div class="timeToMake">{{recipe.totalTimeInSeconds}} min</div>
					<div class="recipeName">{{recipe.recipeName}}</div>
				</div>
		      </div>
		  	</a>
	    </div>
	  </div>
  </div>
  <div class="clearall"></div>
</div>