<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!--Sidebar content-->
      <div id="add-container">
        <div id="add-text">Add an Ingredient</div>
        <input id="add-field" ng-model="ingredientToAdd" ng-enter="addIngredient()">
        <button id="add-button" ng-click="addIngredient()">Add</button>
      </div>
      <div id="essential-container">
        <div id="essential-text">Essentials</div>
        <div id="essential-ingredients">
          <label ng-repeat="essential in essentials">
            <input type="checkbox" name="selectedEssential[]" value="{{essential}}" ng-checked="selection.indexOf(essential) > -1"
            ng-click="toggleSelection(essential)"> {{essential}}
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <!--Body content-->
      <div id="ingredient-list-container">
        <div>Ingredient List:</div>
        <div id="ingredient-list">Essentials</div>
      </div>
      <div id="#recipe-button-container" ng-click="findRecipes()">Find Recipes!</div>
    </div>
  </div>
</div>