body {
  background: #cccccc;
  font-family: 'Indie Flower', cursive;
  font-size: 18px;
}

#home-page {
  margin: 20px;
}

#header, #footer {
  position: relative;
  height: 50px;
  background: #444444;
  color: white;
  padding: 5px 13px;
  font-weight: bold;
}

#footer {
	font-size: 15px;
	clear: both;
	text-align: center;
}

#header #logo {
  font-size: 25px;
  line-height: 45px;
}

.clearall {
	clear: both;
}

#left-column {
	width: 30%;
	float: left;
}

#middle-space {
	width: 1%;
	height: 20px;
	float: left;
}

#right-column {
	width: 69%;
	float: left;
}

#add-container {
	margin: 0;
	margin-bottom: 5px;
	margin-top: 10px;
	border-radius: 5px;
	position: relative;
	min-height: 100px;
}

#essential-container {
	margin: 0;
	min-height: 300px;
	border-radius: 5px;
	position: relative;
	background: url('../img/icons/essentials-transparent.png') no-repeat rgba(255, 255, 255, 0.5) center;
}

.fridge {
	background: rgba(255, 255, 255, 0.5);
	padding: 20px;
}

.bento-box {
	background: rgba(0, 100, 0, 0.2);
	margin: 10px 0;
	padding: 10px;
}

.view-container {
	min-height: 405px;
}

.titleBox {
	font-size: 20px;
	font-weight: bold;
}

#ingredient-list-container {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.2);
	margin: 10px 0;
	min-height: 405px;
	padding: 20px;
}