.allRecipes .ingredient-list-container {
	width: 20%;
	float: left;
}

.allRecipes .recipe-container {
	width: 80%;
	float: left;
}

.recipeTileLink {
	color: black;
	text-decoration: none;
}

.recipeTileLink:hover {
	color: black;
}

.recipeTile {
	display: inline-block;
	margin: 5px;
}

.recipeTile .artwork {
	width: 200px;
	height: 200px;
	background: url('../img/recipes/recipe1.png');
}

.recipeTile .artwork .healthyFlag {
	width: 78px;
	height: 78px;
	background: url('../img/icons/flagHealthy.png') no-repeat;
	float: right;
}

.recipeTile .infoPane {
	background: #ffffff;
	width: 180px;
	height: 40px;
	line-height: 20px;
	padding: 10px;
}

.recipeTile .infoPane .ratings {
	float: left;
}

.recipeTile .infoPane .timeToMake {
	float: right;
}

.recipeTile .infoPane .recipeName {
	clear: both;
	overflow: hidden;
	height: 20px;
	line-height: 20px;
	white-space: nowrap;
	text-overflow: ellipsis;
}